# Luentoviikko 5

Osallistuin viikolla vierailijaluennolle sekä katsoin demon panoptosta. 

Päiväkirjan teossa käytettyä aineistoa:
- [Luento] (https://github.com/MikkonenTS/Futurice-Joda)
- [Viikon demo] (https://github.com/InfoTUNI/joda2022/blob/master/koodiesimerkit/Session%205%20-%20Text%20Processing%20and%20Clustering.ipynb)

## Futurice vierailuluento - luonnollisen kielen analyysi

Vierailuluennon aiheena oli luonnollisen kielen analyysi, eli NLP (Natural Language Processing). Kyseessä on datatieteen erityisala, jossa käytettävä data on luonnollinen kieli. Usein NLP on osa jotain suurempaa kokonaisuutta, sitä voidaan käyttää esimerkiksi piirteiden erottamiseen.

Haastavaa luonnollisen kielen käsittelystä tekee sen rakennettomuus. Esimerkiksi suomen kieli sisältää useita lyhyitä kahden merkin pituisia sanoja. Lyhenteitä, kuten "EU" poistettaessa on vaarana, että seasta poistuu myös tekstin kontekstin kannalta oleellisia sanoja. Prosessissa on siis hyvin keskeistä datan (eli  kielen) muokkaaminen käsiteltävään, numeeriseen muotoon.

Luenolla esitetyssä demossa luokiteltiin ministerien antamia vastauksia kirjallisiin kysymyksiin. 

Tekstikokoelma jaettiin opetus- ja testausdataan. Koneoppimismalleja käytettäessä on hyvä olla erillinen neutraali testidata, jota malli ei ole vielä nähnyt. Mallin harjoittamisessa käytettävän opetusdatan malli on jo nähnyt, joten se osaa ennustaa mahdollisia tulemia. Testidatalla mallin toimintaa voi testata, sillä sitä malli ei ole nähnyt entuudestaan. Mallien testaamisessa on pidettävä sopiva tasapaino. Saman testausdatan käyttö saatta johtaa tilanteeseen, jossa se ylioppii / erikoistuu tiettyyn dataan.

Esikäsittelyssä data muunnettin mutoon, jossa sitä voidaan hyödyntää koneoppimismallien opetuksessa. Kokoelmaa standardoitiin esim. poistamalla erikoismerkit ja muuntamalla sanat perusmuotoon. Lisäksi vastauksia sisältävästä kokoelmasta suodatettiin pois ylimääräiset "hukkasanat", joilla ei ole dataprojektin kannalta arvoa.

Koulutetun ja testatun koneoppimismallin avulla kokoelman vastauksia liitettiin tiettyyn ministeriöön. Tämän ohella osumalle laskettiin vielä todennäköisyys. Demottu malli osasi ennustaa tekstin ja ministeriön välisiä suhteita tarkasti.

### Viisi oivallusta
- Luonnollisen kielen rakennettomuus haastavaa, erityisesti suomen kielen rakenteessa
- NLP korostuu myös datan esikäsittelyn tärkeys
- Datan jakaminen opetus- ja testiosiin olennainen osa koneoppimismallien käyttöä
- Koneoppimismallin ylioppimista / erikoistumista vältettävä
- NLP usein osa suurempaa kokonaisuutta, käytetään esim. piirteiden erottamiseen


### Kehityskohteita
- Olisi hienoa, jos vastaavia vierailuluentoja pääsisi mahdollisesti katsomaan livenä kampukselle tai yritysten toimitiloihin

### Koodidemo

In [5]:
import pandas as pd

# Haetaan data ja katsotaan miltä se näyttää
data = pd.read_json('https://raw.githubusercontent.com/InfoTUNI/joda2022/master/koodiesimerkit/out.json')

data.head()

                                                text              rating
0  I got the phone, had it shipped all the way  a...  3.0 out of 5 stars
1  Got 2nd phone requirements:Didn't want to spen...  5.0 out of 5 stars
2  I bought this phone back when I had AT&T's pre...  5.0 out of 5 stars
3  There are too many things wrong to name them a...  2.0 out of 5 stars
4  Really nice phone for the money. The phone is ...  4.0 out of 5 stars

In [6]:
# Muunetaan text-sarakkeen arvot pieniksi kirjaimiksi
data['text'] = data['text'].apply(str.lower)
data.head()

                                                text              rating
0  i got the phone, had it shipped all the way  a...  3.0 out of 5 stars
1  got 2nd phone requirements:didn't want to spen...  5.0 out of 5 stars
2  i bought this phone back when i had at&t's pre...  5.0 out of 5 stars
3  there are too many things wrong to name them a...  2.0 out of 5 stars
4  really nice phone for the money. the phone is ...  4.0 out of 5 stars

In [7]:
# Muunnetaan rating-sarakeen arvot numeerisiksi (float)
conv_rating = lambda rating: float(rating[:2])
data['rating'] = data['rating'].apply(conv_rating)

data.head()

                                                text  rating
0  i got the phone, had it shipped all the way  a...     3.0
1  got 2nd phone requirements:didn't want to spen...     5.0
2  i bought this phone back when i had at&t's pre...     5.0
3  there are too many things wrong to name them a...     2.0
4  really nice phone for the money. the phone is ...     4.0