# Luentopäiväkirja 1

Osallistuin viikon opetukseen katsomalla varsinaisen luennon videotallenteet sekä demon panoptosta. 

Päiväkirjan teossa käytettyä aineistoa:
- [Luento 1 materiaali] (https://github.com/InfoTUNI/joda2022/blob/master/luentomuistio/luento01.ipynb)
- [Luento 1 Demo] (https://github.com/InfoTUNI/joda2021/blob/master/koodiesimerkit/Session%201%20-%20Analysis%20of%20Transactions.ipynb)

## Kurssin kesekeiset oppimistavoiteet
- Oppia datatieteen perusteita
- Erityisesti tietotekninen/ohjelmoinnin osuus alalta kiinnostaa
- Opetella uusia kurssilla käytettäviä teknologioita ja vahventaa aiempaa osaamista (Jupyterlab, Git, Python, pandas...)

## Viikon keskeiset asiat
Datatiede on hyvin moninainen käsite. Se yhdistää neljän eri alan osaamista: liiketoiminta, tekninen, tilasto, viestintä/visualisointi.

Datan keräämistä voidaan kuvailla erilaisilla malleilla. Esimerkiksi **CRISP-DM -malli** jaottelee datan keräämisen kuuteen eri osa-alueeseen. Vastaavia malleja on useampia, mutta keskeisnä yhteisenä tekijänä vaikuttaa olevan se, että mallit eivät ole kovin rajattuja. Ne ovat pikemminkin iteratiivisia prosesseja, joiden vaiheiden välillä siirrytään tarvittaessa paikoittain suuntaan tai toiseen. Lisäksi prosesseissa keskeistä on laaja yleisymmärys kustakin ympäristöstä. Jotta tietoa voidaan käyttää tehokkaasti, vaatii se data käsittelyn ohella myös tietoa esimerkiksi yrityksen toimialasta. Näin prosessikaavioiden avulla voidaan myös hahmottaa datatieteilijältä vaadittavia tietoja ja taitoja.

Datan keräämiseen ja sen käyttöön liittyvien eettisten kysymysten pohtiminen on yksi datatieteen edellytyksistä. Tietoa ja tietoon perustuvia järjestelmia on nykypäivänä kaikkialla. Sitä luodaan, kerätään ja käsitellään jatkuvasti, joten datan pohjalta tehtävillä päätöksillä voi olla hyvinkin laaja-alaisia vaikutuksia ihmisiin ja yhteiskuntaan. 

Koska nykypäivänä dataa on kaikialla ja kasvavissa määrin, sen ymmärtämisessä korostuu tekoälyn ja tilastollisen oppimisen hyödyntäminen. Erilaisten tietokoneiden laskentatehon kasvaessa kyetään entistä monimutkaisempiin teknisiin suorituksiin, joilla datasta voidaan luoda uusia näkemyksiä. Datan käsittelyyn tarkoitettujen perinteisten tilastollisten laskentajärjestelmien ohelle on noussut esimerkiksi Pythoniin perustuvia ympäristöjä. Pythonin erilaisten kirjastojen avulla voidaan esimerkiksi suorittaa laskennallisia operaatioita ja visualisoida saatuja tuloksia.

Minun oma tähänastinen ymmärys datatieteestä on lähinnä teknisemmästä näkökulmasta, datan käsittelyyn liittyviltä ohjelmointikursseilta. Johdantoluennolla oli mielenkiintoista huomata, kuinka ala kuitenkin kerää yhteen useamman eri alan osaamista viestinnästä liiketoimintaosaamiseen.

## Viisi oivallusta
- Datatiede on hyvin laaja-alainen kokonaisuus
- Datan käsittely on usein iteratiivinen prosessi
- Datatiede ei ole erillinen osa esim. organisaatiosta tai liiketoimintaympäristöstä
- Ei ole realistista olettaa, että yksittäinen henkilö hallitsisi datatieteen kokonaisuudessaan
- Tekoäly, kone/tilastollinen oppiminen keskeistä data käsittelyssä

## Koodidemo

In [ ]:
import pandas as pd

url = 'https://github.com/jodatut/2020/raw/master/koodiesimerkit/SalesJan2009.csv'
data = pd.read_csv(url)

In [3]:
# Tarkistetaan taulukon sarakkeiden nimet
attributes = data.columns.values.tolist()
print(attributes)

['Transaction_date', 'Product', 'Price', 'Payment_Type', 'Name', 'City', 'State', 'Country', 'Account_Created', 'Last_Login', 'Latitude', 'Longitude']

In [8]:
# Tarkistetaan tietotyypit
print(data.dtypes)

Transaction_date     object
Product              object
Price               float64
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

In [9]:
# Katsaus taulukon dataan
print(data.head())

  Transaction_date   Product   Price Payment_Type               Name  \
0      1/2/09 6:17  Product1  1200.0   Mastercard           carolina
1      1/2/09 4:53  Product1  1200.0         Visa             Betina
2     1/2/09 13:08  Product1  1200.0   Mastercard  Federica e Andrea
3     1/3/09 14:44  Product1  1200.0         Visa              Gouya
4     1/4/09 12:56  Product2  3600.0         Visa            Gerd W

                           City     State         Country Account_Created  \
0                      Basildon   England  United Kingdom     1/2/09 6:00
1  Parkville                           MO   United States     1/2/09 4:42
2  Astoria                             OR   United States    1/1/09 16:21
3                        Echuca  Victoria       Australia   9/25/05 21:13
4  Cahaba Heights                      AL   United States  11/15/08 15:47

     Last_Login   Latitude   Longitude
0   1/2/09 6:08  51.500000   -1.116667
1   1/2/09 7:49  39.195000  -94.681940
2  1/3/09 12:32  46.188060 -123.830000
3  1/3/09 14:22 -36.133333  144.750000
4  1/4/09 12:45  33.520560  -86.802500

In [10]:
# Muunnetaan sarakkeen Price arvo tyypiksi float
data['Price'] = data['Price'].astype(float)

print(data.dtypes)

Transaction_date     object
Product              object
Price               float64
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

In [11]:
# Muunnetut tiedot taulukossa
print(data.head())

  Transaction_date   Product   Price Payment_Type               Name  \
0      1/2/09 6:17  Product1  1200.0   Mastercard           carolina
1      1/2/09 4:53  Product1  1200.0         Visa             Betina
2     1/2/09 13:08  Product1  1200.0   Mastercard  Federica e Andrea
3     1/3/09 14:44  Product1  1200.0         Visa              Gouya
4     1/4/09 12:56  Product2  3600.0         Visa            Gerd W

                           City     State         Country Account_Created  \
0                      Basildon   England  United Kingdom     1/2/09 6:00
1  Parkville                           MO   United States     1/2/09 4:42
2  Astoria                             OR   United States    1/1/09 16:21
3                        Echuca  Victoria       Australia   9/25/05 21:13
4  Cahaba Heights                      AL   United States  11/15/08 15:47

     Last_Login   Latitude   Longitude
0   1/2/09 6:08  51.500000   -1.116667
1   1/2/09 7:49  39.195000  -94.681940
2  1/3/09 12:32  46.188060 -123.830000
3  1/3/09 14:22 -36.133333  144.750000
4  1/4/09 12:45  33.520560  -86.802500